.main2 {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}

.main__card1 {
    width: 424px;
    height: 180px;
    transition: all 1s;
    background-image: url(/images/png/unsplash_mO-_iF_FkCk.png);
}

.main__card2 {
    width: 424px;
    transition: all 1s;
    height: 180px;
    background-image: url(/images/png/unsplash_gDrUY7QUeng.png);
}

.main__card3 {
    width: 424px;
    transition: all 1s;
    height: 180px;
    background-image: url(/images/png/unsplash_q4LIvI9NN6Y.png);
}

.main__card1:hover {
    cursor: pointer;
    transform: scale(105%);
}

.main__card2:hover {
    cursor: pointer;
    transform: scale(105%);
}

.main__card3:hover {
    cursor: pointer;
    transform: scale(105%);
}

.main__card1 p {
    margin-top: 144px;
    margin-left: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
}

.main__card2 p {
    margin-top: 144px;
    margin-left: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
}

.main__card3 p {
    margin-top: 144px;
    margin-left: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
}

.main3 {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}

.main3__card1 {
    width: 312px;
    height: 418px;
    background-color: #D3FBD9;
    transition: all 1s;
}

.main3__card2 {
    width: 312px;
    height: 418px;
    background-color: #ffe4bd;
    transition: all 1s;
}

.main3__card3 {
    width: 312px;
    transition: all 1s;
    height: 418px;
    background-color: #D9ABFD;
}

.main3__card4 {
    transition: all 1s;
    width: 312px;
    height: 418px;
    background-color: #FDF0AB;
}

.main3__card1:hover {
    cursor: pointer;
    transform: scale(105%);
}

.main3__card2:hover {
    cursor: pointer;
    transform: scale(105%);
}

.main3__card3:hover {
    cursor: pointer;
    transform: scale(105%);
}

.main3__card4:hover {
    cursor: pointer;
    transform: scale(105%);
}

.main3__card1 img {
    padding-top: 56px;
    padding-left: 56px;
}

.main3__card2 img {
    padding-top: 56px;
    padding-left: 56px;
}

.main3__card3 img {
    padding-top: 56px;
    padding-left: 56px;
}

.main3__card4 img {
    padding-top: 56px;
    padding-left: 56px;
}

.colors {
    display: flex;
    gap: 5px;
    margin-left: 24px;
}

.colors a img {
    padding: 5px;
}

.main3__card1 p {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #3E3E3E;
    margin-left: 24px;
}

.main3__card1 p:nth-child(3) {
    margin-top: 24px;
}

.main3__card2 p {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #3E3E3E;
    margin-left: 24px;
}

.main3__card3 p {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #3E3E3E;
    margin-left: 24px;
}

.main3__card4 p {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #3E3E3E;
    margin-left: 24px;
}

.main4 {
    display: flex;
    gap: 24px;
    margin-top: 48px;
    margin-bottom: 48px;
}

.main4__card1 {
    display: flex;
    width: 424px;
    height: 174px;
    background-color: #F5F6F8;
    border-radius: 5px;
    transition: all 1s;
}

.main4__card2 {
    display: flex;
    width: 424px;
    height: 174px;
    background-color: #F5F6F8;
    border-radius: 5px;
    transition: all 1s;
}

.main4__card3 {
    display: flex;
    width: 424px;
    height: 174px;
    background-color: #F5F6F8;
    border-radius: 5px;
    transition: all 1s;
}

.main4__card1:hover {
    cursor: pointer;
    transform: scale(105%);
}

.main4__card2:hover {
    cursor: pointer;
    transform: scale(105%);
}

.main4__card3:hover {
    cursor: pointer;
    transform: scale(105%);
}

.main4__card1 h1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #000000;
    padding-top: 45px;
    padding-left: 24px;
}

.main4__card2 h1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #000000;
    padding-top: 45px;
    padding-left: 24px;
}

.main4__card3 h1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #000000;
    padding-top: 45px;
    padding-left: 24px;
}

.main4__card1 p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #292929;
    padding-left: 24px;
}

.main4__card2 p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding-left: 24px;
    color: #292929;
}

.main4__card3 p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #292929;
    padding-left: 24px;
}

.main4__card1 img {
    margin-top: 24px;
    margin-left: 74px;
}

.main4__card2 img {
    margin-top: 24px;
    margin-left: 74px;
}

.main4__card3 img {
    margin-top: 24px;
    margin-left: 74px;
}

.main5 {
    display: flex;
    gap: 40px;
}

.main_h1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: #000;
}

.main_p {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #9a9a9a;
    margin-bottom: 48px;
}

.main5 img {
    transition: all 1s;
}

.main5 img:hover {
    cursor: pointer;
    transform: scale(105%);
}

.main6 {
    display: flex;
}

.main6 p {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #3e3e3e;
}